# ==============================================================================
# ARCHIVO DE CONFIGURACION: .gitignore
# Objetivo: Excluir dependencias, credenciales, temporales y volumenes de datos.
# Estrategia: Bloqueo global por extension para asegurar la higiene del repositorio.
# ==============================================================================

# 1. Entornos virtuales y dependencias de Python
.venv/
venv/

# 2. Seguridad, credenciales y variables de entorno
.env
.cdsapirc
token_cdse.json

# 3. Archivos del sistema operativo y metadatos de IDEs
.DS_Store
.ipynb_checkpoints/

# 4. Archivos de cache y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# 5. Salidas visuales y HTML
imagenes/
mapa.html

# ==============================================================================
# EXCLUSIONES DE DATOS (OPCION NUCLEAR POR EXTENSION)
# ==============================================================================

# 6. Bloqueo absoluto de formatos de datos y compresión en todo el proyecto
*.csv
*.grib
*.nc
*.nc4
*.idx
*.zip

# 7. Carpetas de salidas generales temporales
out/
previews/

# ==============================================================================
# EXCEPCIONES (ARCHIVOS QUE SI SE DEBEN SUBIR)
# ==============================================================================
